
@{
    ViewData["Title"] = "Fastfood";
}
<link href="~/css/header.css" rel="stylesheet" />
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>FASTFOOD</h1>
            </div>
        </div>
    </div>
</div>

<table>
    <tr>
        <td>
            <div class="con">
                <img src="~/images/fastfood/fast1.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Dosa</h3></td>
                        <td><h3 class="text-right">₹ 120</h3></td>
                    </tr>
                </table>
                <h4>This is Amezing</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>

        <td>
            <div class="con">
                <img src="~/images/fastfood/fast2.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Sandwhich</h3></td>
                        <td><h3 class="text-right">₹ 150</h3></td>
                    </tr>
                </table>
                <h4>This is Very Testy</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>

        <td>
            <div class="con">
                <img src="~/images/fastfood/fast3.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Bhajiya</h3></td>
                        <td><h3 class="text-right">₹ 80</h3></td>
                    </tr>
                </table>
                <h4>So Yammy</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="con">
                <img src="~/images/fastfood/fast4.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Pani Puri</h3></td>
                        <td><h3 class="text-right">₹ 70</h3></td>
                    </tr>
                </table>
                <h4>So Sweet</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>

        <td>
            <div class="con">
                <img src="~/images/fastfood/fast5.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Vada Pav</h3></td>
                        <td><h3 class="text-right">₹ 50</h3></td>
                    </tr>
                </table>
                <h4>Very Testy</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>

        <td>
            <div class="con">
                <img src="~/images/fastfood/fast6.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">French fries</h3></td>
                        <td><h3 class="text-right">₹ 100</h3></td>
                    </tr>
                </table>
                <h4>Yummy 👌👌</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="con">
                <img src="~/images/fastfood/fast8.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Momos</h3></td>
                        <td><h3 class="text-right">₹ 130</h3></td>
                    </tr>
                </table>
                <h4>Very Testy 👌👌</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>

        <td>
            <div class="con">
                <img src="~/images/fastfood/fast7.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Idli Sambhar</h3></td>
                        <td><h3 class="text-right">₹ 50</h3></td>
                    </tr>
                </table>
                <h4>Sweet</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>
    </tr>
</table>
