@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />
<link href="~/css/header.css" rel="stylesheet" />
<link href="~/css/footer.css" rel="stylesheet" />
<div class="about-section-box">
    <br /><br /><br /><br />
    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-12 text-center ">
                            <div class="inner-column">
                                <h1>Welcome To <span>Live Dinner Restaurant</span></h1>
                                <h6>A great restaurant is one that just makes you feel like you're not sure whether you went out or you came home and confuses you. If it can do both of those things at the same time, you're hooked.</h6>
                                <h6>n a restaurant one is both observed and unobserved. Joy and sorrow can be displayed and observed "unwittingly," the writer scowling naively and the diners wondering, What the hell is he doing?</h6>
                                <br />
                                <a class="btn btn-lg btn-circle btn-outline-new-white" asp-controller="Reservation" asp-action="Reservation">Reservation</a>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <img src="~/images/about-img.jpg" alt="" width={500} class="img-fluid" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto ma text-center">
                <p class="lead">
                    " If you're not the one cooking, stay out of the way and compliment the chef. "
                </p>
                <span class="lead">Michael Strahan</span>
            </div>
        </div>
    </div>
</div>
<br></br>
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Special Menu</h2>
                </div>
            </div>
        </div>
        <div id="restaurant-menu">
            <div class="container">
                <table>
                    <tr>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-01.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-02.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-03.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-04.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-05.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-06.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-07.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-08.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col-lg-4 col-md-6">
                                <div class="menu ">
                                    <center>
                                        <div class="menu-item">
                                            <img src="~/images/img-09.jpg" alt="" width="400" height="300" class="menu-item-product" />
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

