/*---------------------------------------------
  [ General ]*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*---------------------------------------------
  [ Restyle Tag ]*/

a {
    text-decoration: none;
    color: #666666;
}

    a:hover {
        color: #333333;
    }

ul, li {
    list-style-type: none;
}

/*---------------------------------------------
  [ Container ]*/

.b {
    height: 100%;
    background-color: #d65106;
}

.limiter {
    width: 40%;
    margin: 0 auto;
    border: 2px solid #d65106;
    border-radius: 55px;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.wrap-login100 {
    width: 390px;
    padding: 15px;
}

/*---------------------------------------------
  [ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-title {
    font-size: 39px;
    color: #d65106;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

.login100-form-avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin: 0 auto;
}

    .login100-form-avatar img {
        width: 100%;
    }

/*---------------------------------------------
  [ Input ]*/

.wrap-input100 {
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

.input100 {
    width: 100%;
    height: 52px;
    padding: 0 5px;
    font-size: 15px;
    color: #555555;
    background: transparent;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    outline: none;

}

    .input100:focus {
        border-color: #d65106;
    }

    .input100::placeholder {
        color: #adadad;
        transition: color 0.4s; /* Add transition for color */
    }

.focus-input100::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #d65106;
    transition: all 0.4s;
}

.focus-input100::after {
    content: attr(data-placeholder);
    position: absolute;
    left: 0;
    bottom: 12px;
    font-size: 15px;
    color: #999999;
    transition: all 0.4s; /* Change transition to all properties */
}

.input100:focus + .focus-input100::before {
    width: 100%;
}

.input100:focus + .focus-input100::after {
    bottom: 28px;
    font-size: 12px;
}

/*---------------------------------------------
  [ Button ]*/

.container-login100-form-btn5 {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.login100-form-btn5 {
    width: 100%;
    height: 50px;
    background-color: #d65106;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

    .login100-form-btn5:hover {
        background-color: #333333;
    }

/*---------------------------------------------
  [ Login More ]*/

.login-more li {
    position: relative;
    padding-left: 16px;
}

    .login-more li::before {
        content: '';
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #cccccc;
        top: 45%;
        left: 0;
    }
