
@{
    ViewData["Title"] = "Juice";
}
<link href="~/css/header.css" rel="stylesheet" />

<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>JUICE</h1>
            </div>
        </div>
    </div>
</div>

<table>
    <tr>
        <td>
            <div class="con">
                <img src="~/images/juice/Juice-1.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Mango Juice</h3></td>
                        <td><h3 class="text-right">₹ 100</h3></td>
                    </tr>
                </table>
                <h4>Testy</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>

        <td>
            <div class="con">
                <img src="~/images/juice/Carrot-Juice.webp" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Carrot Juice</h3></td>
                        <td><h3 class="text-right">₹ 50</h3></td>
                    </tr>
                </table>
                <h4>😜😜😜</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>

        <td>
            <div class="con">
                <img src="~/images/juice/All.webp" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">All Juice</h3></td>
                        <td><h3 class="text-right">₹ 500</h3></td>
                    </tr>
                </table>
                <h4>So Cool And Very Testy</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div class="con">
                <img src="~/images/juice/orange-juice.jpg" height="250px" width="100%" alt="" />
                <table>
                    <tr>
                        <td><h3 class="text-left">Orange Juice</h3></td>
                        <td><h3 class="text-right">₹ 80</h3></td>
                    </tr>
                </table>
                <h4>😜😜😜</h4>
                <div class="gridbtn">
                    <button class="btn1" name="cart" type="submit">
                        <img src="~/images/shopping.png" width="30" height="30" />
                    </button>
                    <a class="btn2" asp-controller="Order" asp-action="Order" type="submit" name="order">ORDER</a>
                </div>
            </div>
        </td>
    </tr>
</table>
